---
/**
 * * Pricing cards with three cards
 */

import Button from "@components/Button/Button.astro";
import { Image } from "astro:assets";

interface pricingItem {
	name: string; // plan name
	featured?: boolean; // if true, will be highlighted or otherwise featured
	features: string[]; // list of features
	image: ImageMetadata; // imported image
}

import image3 from "@assets/images/couple-1-square.jpg";
import image1 from "@assets/images/couple-5-min.jpg";
import image2 from "@assets/images/couple-6-crop.jpg";

// This is designed for 3 pricing items, but can be modified to support more
const pricingData: pricingItem[] = [
	{
		name: "Tibet",
		featured: false,
		features: [

			"*Potala Palace – A majestic structure perched above Lhasa; a spiritual landmark.",
			"*Mount Everest (Qomolangma) – The highest point on Earth, a dream for climbers and pilgrims.",
			"*Namtso Lake – The “Lake of the Sky”, one of Tibet’s four sacred lakes.",
		
		],
		image: image1,
	},
	{
		name: "Xinjiang",
		featured: true,
		features: [
			"*Heavenly Lake of Tianshan – A serene alpine lake cradled by snowy mountains, perfect year-round.",
			"*Kanas Lake – A mystical lake famed for legends and fairy-tale scenery.",
			"*Taklamakan Desert – China’s largest desert; experience vast dunes and golden silence.",
		],
		image: image2,
	},
	{
		name: "Nei Mongol",
		featured: false,
		features: [
			"*Hulunbuir Grasslands – Among the world’s largest grasslands; ideal for horse riding and yurts.",
			"*Xiangshawan & Kubuqi Desert – Sandboarding, camel rides, and golden dunes.",
			"*Naadam Festival – Celebrate with traditional sports: horse racing, wrestling, and archery.",
		],
		image: image3,
	},
];
---

<section id="pricing" class="mx-auto max-w-6xl scroll-mt-10 px-4 py-8 md:py-12">
	<div class="mx-auto max-w-6xl text-center">
		<h2 class="h2 text-pretty uppercase">Popular Destinations</h2>
	</div>

	<!-- works for 3 pricing plans, adjust grid cols here to support more or less -->
	<div
		class="mx-auto grid w-full max-w-md gap-12 pt-8 sm:max-w-none sm:grid-cols-2 md:pt-12 lg:grid-cols-3"
	>
		{
			pricingData.map((plan) => (
				<div
					class="flex w-full flex-col"
					class:list={[
						{
							"bg-primary-200": plan.featured === true,
						},
					]}
				>
					<div>
						<div class="aspect-square h-auto w-full overflow-hidden">
							<Image
								src={plan.image}
								alt={plan.name}
								width={450}
								densities={[1.5, 2]}
								class="h-full w-full object-cover"
							/>
						</div>
					</div>
					<div class="border-primary-200 flex h-full flex-col justify-between border-2 border-t-0 pt-10 pb-10">
						<div>
							<h3 class="h2 text-center">{plan.name}</h3>

							<ul class="mt-4 flex flex-col gap-3 px-8">
								{plan.features.map((feature) => (
									<li class="leading-snug lg:text-lg lg:leading-snug">{feature}</li>
								))}
							</ul>
						</div>
						
					</div>
				</div>
			))
		}
	</div>

</section>
