---
// components
import Contact from "@components/Contact/Contact.astro";
import PortfolioGrid from "@components/Portfolio/PortfolioGrid.astro";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";

const portfolios = await getCollection("portfolios", ({ data }) => {
	// filter out draft pages
	return data.draft !== true;
});
---

<BaseLayout title="Portfolios" description="Portfolio page for my projects and work.">
	<div class="site-container pt-24 md:pt-36">
		<div class="mx-auto max-w-6xl text-center">
			<h1 class="h2 text-pretty uppercase">
				Themed travel routes beyond the scenery. <br />
				主题路线游
			</h1>
		</div>
		<PortfolioGrid portfolios={portfolios} />
	</div>



	<Contact class="mt-12" />
</BaseLayout>
